In [10]:
import pandas as pd

## **PANDAS**

### **Creating Data**

In [11]:
pd.DataFrame({'Miners': [0,10], 'Non-miners': [5,10]})

   Miners  Non-miners
0       0           5
1      10          10

In [12]:
pd.DataFrame({'Sofia': ['She is in ColorStack', 'She likes painting'], 'John Doe': ['He is not in ColorStack', 'He is him']})
## to create a data frame it needs to have the same amount of array data.

                  Sofia                  Joe Doe
0  She is in ColorStack  He is not in ColorStack
1    She likes painting                He is him

In [13]:
data1 = pd.DataFrame({'R': [1, 'Hello'], "Ro": [2, 'Hi']})
#you can have different data types in the array.

## **Series**

In [14]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [15]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')
## you can have labels on your series and specify the name of your serie.

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

###How to store data?

In [16]:
data1.to_csv('practice.csv')

###Reading Data Files

In [17]:
data = pd.read_csv("credit_card_fraud_dataset.csv")

In [18]:
data.shape
## there is 1000 rows x 7 cols

(100000, 7)

In [19]:
data.head()
## print the first 5 rows.

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
0,1,2024-04-03 14:15:35.462794,4189.27,688,refund,San Antonio,0
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
2,3,2024-01-08 10:08:35.462834,784.00,394,purchase,New York,0
3,4,2024-04-13 23:50:35.462850,3514.40,944,purchase,Philadelphia,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0

###Indexing, Selecting and Assigning

In [20]:
data.MerchantID

0        688
1        109
2        394
3        944
4        475
        ...
99995    289
99996    745
99997    690
99998    644
99999    675
Name: MerchantID, Length: 100000, dtype: int64

In [21]:
data['Amount']

0        4189.27
1        2659.71
2         784.00
3        3514.40
4         369.07
          ...
99995    1057.29
99996     297.25
99997    3448.56
99998    3750.79
99999    1596.79
Name: Amount, Length: 100000, dtype: float64

In [22]:
data['Amount'][1]

np.float64(2659.71)

In [23]:
data.iloc[0]
## select row

TransactionID                               1
TransactionDate    2024-04-03 14:15:35.462794
Amount                                4189.27
MerchantID                                688
TransactionType                        refund
Location                          San Antonio
IsFraud                                     0
Name: 0, dtype: object

In [24]:
data.loc[:, ['TransactionID', 'MerchantID']]

       TransactionID  MerchantID
0                  1         688
1                  2         109
2                  3         394
3                  4         944
4                  5         475
...              ...         ...
99995          99996         289
99996          99997         745
99997          99998         690
99998          99999         644
99999         100000         675

[100000 rows x 2 columns]

In [25]:
## Choosing between iloc and loc: Analogy -> by the title or author or by the bookshelf

In [26]:
data.columns

Index(['TransactionID', 'TransactionDate', 'Amount', 'MerchantID',
       'TransactionType', 'Location', 'IsFraud'],
      dtype='object')

In [27]:
data.IsFraud == 1

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Name: IsFraud, Length: 100000, dtype: bool

In [28]:
data.loc[(data.IsFraud == 1) & (data.Amount <= 100.0)]

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
5264,5265,2024-02-03 02:19:35.495280,62.81,659,purchase,Houston,1
7933,7934,2024-06-29 04:29:35.506963,25.91,470,refund,San Jose,1
11149,11150,2024-07-28 07:52:35.520498,7.28,937,refund,Chicago,1
12675,12676,2024-06-16 12:51:35.526897,32.62,169,refund,Phoenix,1
17193,17194,2023-11-20 23:45:35.546559,51.94,51,purchase,San Antonio,1
24608,24609,2023-11-26 01:37:35.586567,92.28,927,purchase,Dallas,1
25714,25715,2024-08-29 19:38:35.591538,18.03,708,refund,Los Angeles,1
42352,42353,2024-06-15 18:31:35.701541,87.25,804,refund,Phoenix,1
59734,59735,2024-06-27 08:07:35.827323,5.56,830,refund,Philadelphia,1
63355,63356,2024-03-22 18:05:35.843820,85.83,181,refund,Philadelphia,1
63362,63363,2024-01-23 23:01:35.843846,91.32,881,purchase,San Antonio,1
63564,63565,2024-04-15 23:49:35.844550,50.90,137,refund,San Diego,1
66126,66127,2024-09-15 14:43:35.855882,64.68,106,refund,Chicago,1
87207,87208,2024-02-13 07:57:35.965744,8.66,265,refund,Dallas,1
89520,89521,2024-01-11 06:46:35.983796,58.22,28,purchase,Los Angeles,1
90446,90447,2024-05-21 16:01:35.987173,7.13,865,refund,Houston,1
90859,90860,2024-02-26 21:56:35.988590,49.42,505,purchase,Phoenix,1
93164,93165,2024-09-12 08:28:35.998343,52.07,779,purchase,Dallas,1
97155,97156,2024-10-06 07:01:36.015419,37.31,749,purchase,Houston,1

In [29]:
data.loc[data.Location.isin(['Dallas', 'Phoenix'])]

,TransactionID,TransactionDate,Amount,MerchantID,TransactionType,Location,IsFraud
1,2,2024-03-19 13:20:35.462824,2659.71,109,refund,Dallas,0
4,5,2024-07-12 18:51:35.462858,369.07,475,purchase,Phoenix,0
9,10,2023-10-24 06:51:35.462901,662.07,193,purchase,Dallas,0
18,19,2024-02-29 06:41:35.462962,4726.01,456,purchase,Dallas,0
24,25,2024-07-15 09:41:35.463002,3661.74,521,purchase,Dallas,0
...,...,...,...,...,...,...,...
99981,99982,2023-11-21 06:48:36.027544,4327.36,504,refund,Phoenix,0
99984,99985,2023-10-31 13:25:36.027554,2999.65,82,purchase,Dallas,0
99989,99990,2024-09-22 04:09:36.027571,4595.95,938,refund,Dallas,0
99991,99992,2024-05-28 18:52:36.027577,2173.73,93,purchase,Dallas,0
99993,99994,2024-04-20 15:33:36.027584,614.02,625,refund,Phoenix,0

In [30]:
empty = data[data.isnull().any(axis=1)]
empty

Empty DataFrame
Columns: [TransactionID, TransactionDate, Amount, MerchantID, TransactionType, Location, IsFraud]
Index: []

In [31]:
data2 = pd.DataFrame({'Hello': [1,2,None], 'Bye': [1,2,3]})
empty = data2[data2.isnull().any(axis=1)]
empty

   Hello  Bye
2    NaN    3

In [32]:
data2['Hello'] = "World"
data2

   Hello  Bye
0  World    1
1  World    2
2  World    3

### Functions and maps

In [33]:
data.TransactionType.describe()

count     100000
unique         2
top       refund
freq       50131
Name: TransactionType, dtype: object

In [34]:
data.Amount.describe()

count    100000.000000
mean       2497.092666
std        1442.415999
min           1.050000
25%        1247.955000
50%        2496.500000
75%        3743.592500
max        4999.770000
Name: Amount, dtype: float64

In [35]:
data.Amount.mean()

np.float64(2497.0926656)

In [36]:
data.Location.unique()

array(['San Antonio', 'Dallas', 'New York', 'Philadelphia', 'Phoenix',
       'Chicago', 'San Jose', 'San Diego', 'Houston', 'Los Angeles'],
      dtype=object)

In [37]:
data.Location.value_counts()

Location
Chicago         10193
San Diego       10111
Dallas          10076
San Antonio     10062
New York         9993
Houston          9991
Phoenix          9960
Los Angeles      9936
Philadelphia     9873
San Jose         9805
Name: count, dtype: int64

## **What to do when we have NaN values?**
Count missing values per column:

In [39]:
data3 = pd.read_csv('train.csv')

In [42]:
data3.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [43]:
# drop missing rows or cols: (only if there are not a lot of missing values)
# drop rows:
# data3.dropna()
# drop cols:
# data3.dropna(axis=1)

In [58]:
# fill missing values with a constant
cols = data3.columns[data3.isna().any()].tolist()
for col in cols:
  data3[col].fillna(0, inplace=True)
data3.isna().sum()

/tmp/ipython-input-2175368952.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data3[col].fillna(0, inplace=True)

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [81]:
## fill with the mean (numbers)
data4 = pd.read_csv('train.csv')
#data4.isna().sum()
cols = data4.columns[data4.isna().any()].tolist()
if cols:
    data4[cols[0]] = data4[cols[0]].fillna(data4[cols[0]].mean())
data4.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [87]:
len(data4.Cabin.unique())

10692

In [88]:
data4[cols[1]] = data4[cols[1]].fillna(data4[cols[1]].mode()[0])
data4.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [90]:
data4.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,B96 B98,S
5,6,0,3,"Moran, Mr. James",male,29.699118,0,0,330877,8.4583,B96 B98,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.000000,3,1,349909,21.0750,B96 B98,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.000000,0,2,347742,11.1333,B96 B98,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.000000,1,0,237736,30.0708,B96 B98,C

In [94]:
data4 = data4.dropna()
data4.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64